.ListNav{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  list-style: none;
  
}
.ListNav a{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: rgb(24, 85, 139);
  margin: 0 20px;

}
.ListNav a:hover{
  color: rgb(199, 67, 67);
}
h1{
  text-align: center;
}